<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AutomationPanda">

	<listeners>
		<listener class-name="Utilities.Reporting" />
	</listeners>


	<test name="Automation Test">
		<parameter name="browser" value="chrome" />
		<classes>

<!--		  		<class name="TestCases.EmpDetailsFromExcel" />-->
		  		<class name="TestCases.FlightRoundTrip" />
<!--					<class name="TestCases.TestNGProgram" />-->

		</classes>

	</test>

</suite>